@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

$bgc: #232326;
$grey: #F3F2F0;
$wight: #fff;
$red: #D40000;

$font-Inter: 'Inter', sans-serif;

$r_mob_500: 500px;

html {
    font-size: 10px;
    @media (max-width: $r_mob_500) {
        font-size: 14px;
    }
}
body {
    font-size: 1.4rem;
    line-height: 150%;
    font-family: 'Inter', sans-serif;
    color: $grey;
    background-color: $bgc;
    background-size: cover;    
    background-repeat: no-repeat;
    overflow-x: hidden;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;    
}
.main {
    position: relative;
    &__circle {
        position: absolute;
        height: 253px;
        width: 253px;
        left: 35rem;
        top: 46rem;        
    }
    &__circle1 {
        position: absolute;
        height: 106px;
        width: 106px;
        right: 51.6rem;
        top: 73.6rem;
    }
    &__triangle {
        position: absolute;        
        left: 32.8rem;
        top: 50rem;
    }
}
.header {    
    margin-top: 4.5rem;    
    margin-bottom: 6.2rem;    
    align-items: center;
    
    &__navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__nav {
        display: flex;        
        align-items: center;               
        list-style-type: none;        
        margin: 0;
        padding-left: 0;
        gap: 2.8rem;
    }
    &__link {
        text-decoration: none;
        color: $grey;
        transition: .3s;
    }
    &__phonemail {
        display: flex;        
        align-items: center;
        gap: 2.6rem;
    }
    &__tel {
        text-decoration: none;
        color: $grey;
        transition: .3s;        
    }
    &__mail {
        text-decoration: none;
        color: $grey;
        transition: .3s;
        position: relative;
        &::before {
            content: "";
            background-color: $grey;
            width: 1px;
            height: 24px;            
            position: absolute; 
            left: -12px;
            text-align: center;
        }
    }
}
.title {
    position: relative;
    font-family: $font-Inter;
    font-weight: 700;
    font-size: 7.4rem;
    margin: 0;  
    margin-top: 12.5rem;
    color: $wight;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    
    &__span {
        display: block;
        font-size: 2.8rem;
        font-weight: 400;
        margin-bottom: 7.5rem;
        text-transform: capitalize;
    }
}
.discuss {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
    margin-top: 13.7rem;
    &__desc {
        display: flex;
        font-size: 1.6rem;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
        gap: 16px;
        &::after {
            content: "";
            display: inline-block;
            width: 1.5rem;
            height: 1.1rem;
            background-image: url(../images/Arrow.svg);
            background-size: cover;
            background-repeat: no-repeat; 
            align-content: center;
            margin-top: 5px;
        }
    }    
    &__social {
        display: flex;        
        align-items: center;               
        list-style-type: none;        
        margin: 0;
        padding-left: 0;
        gap: 3rem;
        font-size: 1.6rem;
        font-weight: 400;
        z-index: 9;
    }
    &__link {
        text-decoration: none;
        color: $grey;
        transition: .3s;        
    }
    &__inst  {
        &::before {
            content: "";
            background-color: $grey;
            width: 1px;
            height: 24px;            
            text-align: center;
        }
    }
    &__telegram  {
        &::before {
            content: "";
            background-color: $grey;
            width: 1px;
            height: 24px;            
            text-align: center;
        }
    }
}
.line {
    margin-top: 5.7rem;
    margin-bottom: 4rem;
}
.main-skill {
    display: flex;    
    gap: 8.6rem;
    padding-left: 0;   

    &__item {
        list-style-type: none;        
        margin: 0;
        padding-left: 0;
        justify-items: left;
        
    }
    &__title {
        font-size: 17px;
        margin-bottom: 1rem;
    }
    &__desc {
        margin-bottom: 15.5rem;
        
    }
}
.about {    
    &__box {
        display: flex;
        flex-direction: row;
        align-content: stretch;
        justify-content: space-between;                       
    }    
    &__title {
        display: block;
        font-size: 2.8rem;
        letter-spacing: 0.01rem;
        width: 191rem;
    }
    &__description {
        font-size: 2.8rem;
        line-height: 150%;
        margin-top: 10px;
        margin-bottom: 0.5rem;
    }
    &__list {
        margin-left: 58rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;   
        margin-top: 4.5rem;
        margin-bottom: 16.5rem;
        padding-left: 0;
    }
    &__item {
        list-style-type: none;
        
    }    
}
.promo {
    &__text {
        display: flex;
        flex-direction: row;
        align-items: center;        
    }
    &__score {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4.3rem;
    }
    &__figure {   
        display: inline-flex;     
        font-size: 2.8rem;
        margin-top: 0;
        margin-bottom: 0;
    }
    &__title {
        font-size: 2.8rem;
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 0;
    }
    &__desc {
        font-size: 1.6rem;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 27.6%;
        position: absolute;
    }
    &__line {        
        margin-top: 3.8rem;
        margin-bottom: 4rem;        
    }
}
.portfolio {
    &__title {
        margin-top: 21.5rem;
        margin-bottom: 18rem;
    }
    &__circle {
        position: absolute;
        height: 465px;
        width: 465px;
        right: 81rem;
        top: 236rem;
    }
    &__gradient {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding-top: 12rem;
        height: 871px;
        background: linear-gradient(180deg, #141416 0%, rgba(20, 20, 22, 0) 100%);
        background-position-x: center;
        max-width: 100%;
        margin: 0 auto;
        padding-left: 0px;
        padding-right: 0px;  
        z-index: 11;
        margin-bottom: 33rem;
    }
    &__title-h2 {        
        margin-bottom: 0;
        font-size: 2.8rem;
        font-weight: 700;
        line-height: 150%;
    }
    &__box {
        display: flex;        
        align-items: center;               
        justify-content: space-between;
        margin-top: -4.5rem;
        margin-bottom: 7.5rem;
        
    }
    &__second {
        margin-top: 7rem;
    }
    &__list {
        padding-left: 0;
        margin-bottom: 4rem;
        margin-top: 4rem;
    }
    &__item {
        list-style-type: none;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 199%;
    }
    &__desc {
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 150%;
    }
    &__line {
        margin-bottom: 6rem;
    }
    &__third {
        display: block;
        font-size: 2.8rem;
        font-weight: 400;
        max-width: 87rem;
        line-height: 150%;
        margin-top: 18rem;
        margin-bottom: 8rem;
    }
}
.deliveri {
    margin-bottom: 12rem;
    &__grid {
        display: grid;
        grid-template-columns: 34% 34% 1fr;        
        margin-top: -1rem;
    }  
    &__box-grid {
        display: flex;
        gap: 4rem;
        width: 350px;
        align-items: center;
        margin-bottom: 5.5rem;
    }
    &__size {
        width: 4rem;
        height: 4rem;
        margin-top: 2rem;
    }
    &__title {
        font-size: 1.6rem;
        font-weight: 700;
    }
    &__box-desc {
        font-size: 1.4rem;
        font-weight: 400;        
    }
    &__title {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
    &__box-desc {
        margin-top: 0;
        margin-bottom: 0;
    }
}
.tabl {
    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;        
    }
    &__box {
        box-sizing: border-box;
        outline-color: 1px $grey;
        align-self: center;
        justify-content: center;

    }
    &__sign1 {
        width: 68px;
    }
    &__sign2 {
        width: 68px;
    }
    &__sign3 {
        width: 71px;
    }
    &__sign4 {
        width: 73px;
    }
    &__sign5 {
        width: 71px;
    }
    &__sign6 {
        width: 101px;
    }
    &__sign7 {
        width: 81px;
    }
    &__sign8 {
        width: 74px;
    }
}



