@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

$bgc: #232326;
$grey: #F3F2F0;
$grey-opacity: rgba(243, 242, 240, .8);
$wight: #fff;
$red: #D40000;

$font-Inter: 'Inter', sans-serif;

$r_320: 320px;
$r_400: 400px;
$r_500: 500px;
$r_600: 600px;
$r_800: 800px;
$r_900: 900px;
$r_1000: 1000px;
$r_1100: 1100px;

html {
    font-size: 10px;
    
}
body {
    font-size: 1.4rem;
    line-height: 150%;
    font-family: 'Inter', sans-serif;
    color: $grey;
    background-color: $bgc;
    background-size: cover;    
    background-repeat: no-repeat;
    overflow-x: hidden;
    margin-left: 0;
    margin-right: 0;
}

.header {
    
    &__fixed {
        width: 100%;
        background-color: $bgc;
        position: fixed; 
        left: 0;   
        top: 0;
        padding: 0;        
        z-index: 9;
    }
    &__navigation {        
        align-items: center;
        max-width: 1140px;
        background-color: $bgc;
        margin: 0 auto; 
        margin-right: 0;       
        display: flex; 
        justify-content: space-between;        
        padding: 4rem 0rem;               
    }
    &__nav {
        list-style-type: none;
        display: flex;
        gap: 2.8rem;
        align-items: center;
        padding-left: 0;
        @media (max-width: $r_600) {
            display: none;
        }
    }   
    &__link {
        text-decoration: none;
        color: $grey;
        transition: .3s;
        &:hover {
            color: $red;
            transition: .3s; 
        }
    }
    &__phonemail {
        display: flex;        
        align-items: center;
        gap: 2.6rem;
        @media (max-width: $r_1000) {
            display: none;
        }        
    }  
    &__phonemail-mob {
        display: none;
        @media (max-width: $r_600) {
            display: block;
        }    
    } 
    &__tel {
        text-decoration: none;
        color: $grey;
        transition: .3s;  
        &:hover {
            color: $red;
            transition: .3s; 
        }      
    }
    &__mail {
        text-decoration: none;
        color: $grey;
        transition: .3s;
        position: relative;
        &:hover {
            color: $red;
            transition: .3s; 
        }
        &::before {
            content: "";
            background-color: $grey;
            width: 1px;
            height: 24px;            
            position: absolute; 
            left: -12px;
            text-align: center;
            color: rgba(243, 242, 240, 0.5);
        }
    }
    &__burger {
        display: none;
        width: 26px;
        height: 20px;
        background-image: url(../images/burger.svg);
        background-size: contain;
        background-repeat: no-repeat; 
        align-content: center;        
        background-color: transparent;
        border: none;
        cursor: pointer;
        @media (max-width: $r_1000) {
            display: block;
            
        }
    }
}
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px; 
    @media (max-width: $r_400) {
        padding-left: 10px;
        padding-right: 10px;
    }   
}

.main {
    position: relative;
    &__foto {
        margin-top: 10.4rem;
        object-fit: cover;
        height: auto;
        width: 100%;        
        max-width: 1140px;
        @media (max-width: $r_1000) {
            max-width: 970px;
        }
        @media (max-width: $r_900) {
            height: 215px;
            width: 100%;
            overflow: hidden;
        }  
        @media (max-width: $r_400) {
            margin-top: 9rem;
        }  
    }
    &__circle {
        position: absolute;
        height: 253px;
        width: 253px;
        left: -13rem;
        top: -6rem;
        z-index: -2;
        @media (max-width: $r_400) {
            height: 135px;
            width: 135px;
            left: -5.5rem;
            top: -3rem;
        } 
    }
    &__circle1 {
        position: absolute;
        height: 106px;
        width: 106px;
        right: 22%;
        top: 75.6rem;
        z-index: -2;
        @media (max-width: $r_1100) {
            right: 2.6rem;
            top: 72.6rem;
        }
        @media (max-width: $r_1000) {
            right: 2.6rem;
            top: 70.6rem;
        }
        @media (max-width: $r_400) {
            height: 60px;
            width: 60px;
            right: 3.8rem;
            top: 52rem;
        }
    }
    &__triangle {
        position: absolute;        
        left: -15rem;
        top: -2.5rem;
        @media (max-width: $r_1000) {
            left: 1.8rem;
            top: 65rem;
        }
        @media (max-width: $r_900) {                        
            left: 14.8rem;
            top: 61rem;
        } 
        @media (max-width: $r_800) {
            left: 30rem;
        }
        @media (max-width: $r_400) {
            height: 33px;
            width: auto;
            left: 0rem;
            top: 9.5rem;
        } 
    }
    &__line {
    
        @media (max-width: $r_400) {
            margin-top: 4rem;
            margin-bottom: 2.2rem;
        }
    }
}
.title {
    position: relative;
    font-family: $font-Inter;
    font-weight: 700;
    font-size: 7.4rem;
    margin: 0;  
    margin-top: 12.5rem;
    color: $wight;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    z-index: 1;
    @media (max-width: $r_900) {                        
        font-size: 6.4rem;
    } 
    @media (max-width: $r_800) {
        margin-top: 7.5rem;
    }
    @media (max-width: $r_400) {
        font-size: 2.8rem;
        margin-top: 6rem;
        letter-spacing: 0.1rem;
    } 
    
    &__span {
        display: block;
        font-size: 2.8rem;
        font-weight: 400;
        margin-bottom: 7.5rem;
        text-transform: capitalize;
        @media (max-width: $r_900) {                        
            font-size: 2.4rem;
        }
        @media (max-width: $r_400) {
            font-size: 1.8rem;
            margin-bottom: 3rem;
        } 
    }
}
.discuss {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
    margin-top: 13.7rem;
    @media (max-width: $r_400) {
        margin-top: 10rem;
    } 
    &__desc {
        display: flex;
        font-size: 1.6rem;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
        gap: 16px;
        &::after {
            content: "";
            display: inline-block;
            width: 1.5rem;
            height: 1.1rem;
            background-image: url(../images/Arrow.svg);
            background-size: cover;
            background-repeat: no-repeat; 
            align-content: center;
            margin-top: 5px;
        }
        @media (max-width: $r_400) {
            font-size: 1.2rem;
        } 
        
    }    
    &__social {
        display: flex;        
        align-items: center;               
        list-style-type: none;        
        margin: 0;
        padding-left: 0;
        gap: 3rem;
        font-size: 1.6rem;
        font-weight: 400;
        z-index: 9;
        @media (max-width: $r_400) {
            font-size: 1.2rem;
            gap: 1rem;
        } 
    }
    &__link {
        text-decoration: none;
        color: $grey;
        transition: .3s;
        &:hover {
            color: $red;
            transition: .3s; 
        }        
    }
    &__github  {
        &::before {
            content: "";
            background-color: $grey;
            width: 1px;
            height: 24px;            
            text-align: center;
            color: rgba(243, 242, 240, 0.5);
        }
    }
    &__telegram  {
        &::before {
            content: "";
            background-color: $grey;
            width: 1px;
            height: 24px;            
            text-align: center;
            color: rgba(243, 242, 240, 0.5);
        }
    }
}
.line {
    margin-top: 5.7rem;
    margin-bottom: 4rem;
}
.main-skill {
    display: flex;    
    gap: 8.6rem;
    padding-left: 0;  
    @media (max-width: $r_800) {
        gap: 4.6rem;
    } 
    @media (max-width: $r_400) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem;
        margin-bottom: 6rem;
    } 

    &__item {
        list-style-type: none;        
        margin: 0;
        padding-left: 0;
        justify-items: left;        
    }
    &__title {
        font-size: 17px;
        margin-bottom: 1rem;
        @media (max-width: $r_800) {
            font-size: 1.5rem;
        }
        @media (max-width: $r_400) {
            font-size: 1.2rem;
        }
    }
    &__desc {
        margin-bottom: 15.5rem;
        color: $grey-opacity;
        @media (max-width: $r_400) {
            font-size: 0.95rem;
            line-height: 150%;
            margin-bottom: 1rem;
        }
    }
}
.about {    
    &__box {
        display: flex;
        flex-direction: row;
        align-content: stretch;
        justify-content: space-between; 
        @media (max-width: $r_400) {
            flex-direction: column;
        }                      
    }    
    &__title {
        display: block;
        font-size: 2.8rem;
        letter-spacing: 0.01rem;
        width: 191rem;
        @media (max-width: $r_1000) {
            width: 130rem;
        }  
        @media (max-width: $r_900) {                        
            width: 66rem;
        } 
        @media (max-width: $r_400) {                        
            font-size: 1.6rem;
        } 
    }
    &__description {
        font-size: 2.8rem;
        line-height: 150%;
        margin-top: 10px;
        margin-bottom: 0.5rem;
        color: $grey-opacity;
        @media (max-width: $r_400) {                        
            font-size: 1.6rem;
        } 
    }
    &__list {
        margin-left: 58rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;   
        margin-top: 4.5rem;
        margin-bottom: 16.5rem;
        padding-left: 0;
        @media (max-width: $r_1100) {
            margin-left: 53rem;;
        }
        @media (max-width: $r_1000) {
            margin-left: 39.4rem;
        }
        @media (max-width: $r_900) {                        
            margin-left: 22.4rem;
        } 
        @media (max-width: $r_800) {
            margin-left: 20.4rem;
        }
        @media (max-width: $r_400) {
            margin-left: 0;
            font-size: 1.2rem;
            margin-top: 0rem;
            margin-bottom: 4rem;
            gap: 1rem;            
        }
    }
    &__item {
        list-style-type: none;
        @media (max-width: $r_400) {
            width: 160px;
        }        
    }   
    &__line {        
        margin-top: 3.7rem;
        margin-bottom: 3.5rem;
    } 
}
.about-text {
    &__title {
        @media (max-width: $r_400) {
            margin-top: 0;
        }
    }
    &__desc {
        color: $grey-opacity;
        @media (max-width: $r_400) {
            font-size: 1rem;
            line-height: 150%;
            margin-top: 0;
            margin-bottom: 1.7rem;
        }
    }
}
.promo {
    position: relative;
    z-index: 7;
    &__text {
        display: flex;
        flex-direction: row;
        align-items: center;
        @media (max-width: $r_1000) {
            align-items: flex-start;
        }          
    }
    &__score {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4.3rem;
        width: 60rem;
        @media (max-width: $r_1100) {
            width: 35rem;
            line-height: 220%;
            align-items: flex-start;
        }  
        @media (max-width: $r_1100) {
            width: 35rem;            
        } 
        @media (max-width: $r_400) {
            display: none;
        }
    }
    &__score-mob {
        display: none;
        @media (max-width: $r_400) {
            display: block;
            gap: 1.6rem; 
            width: 160px;           
        } 

    }
    &__figure {   
        display: inline-flex;     
        font-size: 2.8rem;
        margin-top: 0;
        margin-bottom: 0;
        @media (max-width: $r_400) {
            font-size: 1.6rem;            
        } 
    }
    &__title {
        font-size: 2.8rem;
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 0;
        @media (max-width: $r_400) {
            font-size: 1.6rem;
            line-height: 150%;            
        } 
    }
    &__desc {
        font-size: 1.6rem;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 30%;
        position: absolute;
        color: $grey-opacity;
        @media (max-width: $r_1100) {                        
            margin-left: 50%;
        }  
        @media (max-width: 400px) {
            margin-left: 47%;
            font-size: 1.2rem;
        }

    }
    &__line {        
        margin-top: 3.8rem;
        margin-bottom: 4rem;  
        @media (max-width: 400px) {
            margin-top: 2rem;
            margin-bottom: 2rem;
        }      
    }
}
.portfolio {
    &__title {
        margin-top: 21.5rem;
        margin-bottom: 18rem;
        z-index: 6;
        @media (max-width: $r_1100) {                        
            margin-bottom: 12rem;
        } 
        @media (max-width: $r_400) {                        
            margin-top: 7.5rem;
            margin-bottom: 8rem;
        } 
    }
    &__circle {
        position: absolute;
        height: 465px;
        width: 465px;
        right: 71rem;
        top: 234rem;
        z-index: 4;
        @media (max-width: $r_1100) {                        
            margin-bottom: 12rem;
            height: 365px;
            width: 365px;
            right: 71rem;
            top: 252rem;
            @media (max-width: $r_1000) {         
                right: 71rem;
                top: 242rem;
            } 
            @media (max-width: $r_400) {    
                height: 197px;
                width: 197px;     
                right: 1rem;
                top: 168rem;
            } 
        } 
    }
    &__gradient {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding-top: 12rem;
        height: 871px;
        background: linear-gradient(180deg, #141416 0%, rgba(20, 20, 22, 0) 100%);
        background-position-x: center;
        max-width: 100%;
        margin: 0 auto;
        padding-left: 0px;
        padding-right: 0px;  
        z-index: 11;
        margin-bottom: 33rem;
        z-index: 3;
        @media (max-width: $r_400) {    
            padding-top: 6rem;
        } 
    }
    &__title-h2 {
        position: relative; 
        margin-bottom: 0;
        font-size: 2.8rem;
        font-weight: 700;
        line-height: 150%;
        z-index: 5;
        @media (max-width: $r_400) {
            font-size: 1.6rem;
            margin-top: 3rem;
        }
    }
    &__box {
        display: flex;        
        align-items: center;               
        justify-content: space-between;
        margin-top: -4.5rem;
        margin-bottom: 7.5rem;    
        @media (max-width: $r_400) {
            flex-direction: column;            
        }
    }
    &__proect1 {
        z-index: 4;
        @media (max-width: $r_800) {
            width: 55%;
            height: 210px;
        }
        @media (max-width: $r_400) {
            width: 100%;
            height: auto;
        }
    }
    &__proect2 {        
        @media (max-width: $r_800) {
            width: 55%;
            height: 210px;
        }
        @media (max-width: $r_400) {
            width: 100%;
            height: auto;
        }
    }
    &__text {
        width: 100%;
    }
    &__second {
        margin-top: 7rem;
    }
    &__list {
        padding-left: 0;
        margin-bottom: 4rem;
        margin-top: 4rem;
        @media (max-width: $r_400) {
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
    }
    &__item {
        list-style-type: none;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 199%;
        color: $grey-opacity;
        @media (max-width: $r_900) {                        
            font-size: 1.2rem;
        } 
    }
    &__desc {
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 150%;
        color: $grey-opacity;
        @media (max-width: $r_1000) {                        
            font-size: 1.3rem;
        } 
        @media (max-width: $r_400) {
            font-size: 1.2rem;
            margin-bottom: 3rem;
        }
    }
    &__line {
        margin-bottom: -7rem;
    }
    &__third {
        display: block;
        font-size: 2.8rem;
        font-weight: 400;
        max-width: 87rem;
        line-height: 150%;
        margin-top: 18rem;
        margin-bottom: 8rem;
        @media (max-width: $r_400) {
            margin-top: 15rem;
            font-size: 1.6rem;
        }
    }
}
.deliveri {
    margin-bottom: 12rem;
    @media (max-width: $r_400) {
        margin-bottom: 3.5rem;
    }
    &__grid {
        display: grid;
        grid-template-columns: 34% 34% 1fr;        
        margin-top: -1rem;
        @media (max-width: $r_400) {
            display: flex;
            flex-direction: column;
        }
    }  
    &__box-grid {
        display: flex;
        gap: 4rem;
        width: 350px;
        align-items: center;
        margin-bottom: 5.5rem;

        @media (max-width: $r_1100) {                        
            width: 260px;
            gap: 2.5rem;
        }
        @media (max-width: $r_900) {                        
            gap: 2rem;
        } 
        @media (max-width: $r_400) {                        
            gap: 4rem;
            margin-bottom: 2.3rem;
            width: 100%;
        }
    }
    &__size {
        width: 4rem;
        height: 4rem;
        margin-top: 2rem;
        @media (max-width: $r_400) {                        
            width: 3rem;
            height: 3rem;
            margin-top: 0;
        } 
    }
    &__title {
        font-size: 1.6rem;
        font-weight: 700;
        margin-top: 2rem;
        margin-bottom: 1rem;
        @media (max-width: $r_400) {
            font-size: 1.2rem;
            margin-top: 0;
        }
    }
    &__box-desc {
        font-size: 1.4rem;
        font-weight: 400; 
        color: $grey-opacity;
        margin-top: 0;
        margin-bottom: 0;   
        @media (max-width: $r_400) {
            font-size: 1.2rem;
        }    
    }      
}
.tabl-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr; 
        width: auto;        
    &__box {
        border: 1px solid rgba($grey, 1); 
        position: relative;
        max-width: 285px;
        height: 148px;
        box-sizing: border-box;
        transition: .3s; 
        @media (max-width: $r_1000) {                        
            width: auto;
        }
        @media (max-width: $r_900) {                        
            width: auto;
        }      
        @media (max-width: $r_900) {                        
            width: auto;
            height: 44px;
        }        
    }
    &__cover {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);               
        filter: grayscale(1);
        &:hover {
            filter: grayscale(0);
            transition: .3s; 
        }
    }
    &__image1 {
        width: 68px;
        @media (max-width: $r_400) {                        
            width: 22px;
        }           
    }
    &__image2 {
        width: 68px;
        @media (max-width: $r_400) {                        
            width: 22px;
        }     
    }
    &__image3 {
        width: 71px;
        @media (max-width: $r_400) {                        
            width: 22px;
        }     
    }
    &__image4 {
        width: 73px;
        @media (max-width: $r_400) {                        
            width: 24px;
        }     
    }
    &__image5 {
        width: 71px;
        @media (max-width: $r_400) {                        
            width: 24px;
        }     
    }
    &__image6 {
        width: 101px;
        @media (max-width: $r_400) {                        
            width: 30px;
        }     
    }
    &__image7 {
        width: 81px;
        @media (max-width: $r_400) {                        
            width: 24px;
        }     
    }
    &__image8 {
        width: 74px;
        @media (max-width: $r_400) {                        
            width: 22px;
        }     
    }
}
.price {
    &__circle {
        width: 140px;
        height: 140px;
        position: absolute; 
        top: 13rem;    
        left: -5em;  
        z-index: -1;
        @media (max-width: $r_400) {  
            top: 2rem;
            left: -6em;
        }
    }
    &__box {
        position: relative;
        padding-top: 17rem;
        display: flex;
        flex-direction: row;
        align-content: stretch;
        justify-content: space-between;
        margin-bottom: 7rem; 
        @media (max-width: $r_400) {                        
            padding-top:6rem;
            flex-direction: column; 
            margin-bottom: 1rem;           
        }     
    }
    &__title {   
        display: block;     
        font-size: 2.8rem;
        font-weight: 700;
        letter-spacing: 0.01rem;
        width: 196rem;
        z-index: 1;
        @media (max-width: $r_1000) {                        
            width: 130rem;
        }  
        @media (max-width: $r_900) {                        
            width: 66rem;;
        } 
        @media (max-width: $r_400) {                        
           font-size: 1.8rem;
           
        }     
    }
    &__description {
        font-size: 2.8rem;
        line-height: 150%;
        margin-top: 10px;
        margin-bottom: 0.5rem;
        @media (max-width: $r_400) {                        
            margin-top: 0.5rem;
            font-size: 1.6rem;
        }     
    }
    &__line {
        margin-top: 2rem;
        margin-bottom: 3.5rem;
    }
    &__desc {
        display: flex;
        font-size: 1.6rem;
        font-weight: 700;
        margin-top: 7.5rem;
        margin-bottom: 0;
        text-align: center;
        gap: 16px;
        &::after {
            content: "";
            display: inline-block;
            width: 1.5rem;
            height: 1.1rem;
            background-image: url(../images/Arrow.svg);
            background-size: cover;
            background-repeat: no-repeat; 
            align-content: center;
            margin-top: 5px;
        }
    }
    &__wraper {
        display: grid;
        grid-template-columns: 51% 1fr;
        margin-bottom: 7rem;  
        @media (max-width: $r_400) {                        
            margin-bottom: 2rem;
            
        }          
    }
    &__title {
        display: block;
        font-weight: 400;
        line-height: 150%;
        @media (max-width: $r_400) {                        
            font-size: 1.6rem;
            width: 12rem;
            
        }   
    }
    &__desc-s {
        font-size: 1.6rem;
        font-weight: 400;
        color: $grey-opacity;
        @media (max-width: $r_400) {                        
            font-size: 1rem;
            width: 10rem;
            line-height: 155%;
            margin-top: 2rem;
        }   
    }
    &__desc {
        @media (max-width: $r_400) { 
            margin-top: 1rem;
            font-size: 1.2rem;
            gap: 1rem;
        }
    }
    &__list {
        padding-left: 1.65rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 190%; 
        color: $grey-opacity;
        @media (max-width: $r_400) { 
            margin-top: 2rem;
            font-size: 1.1rem;
            line-height: 220%;
        }
    }
    &__price {
        position: relative;
        font-size: 4.2rem;
        font-weight: 700;
        margin-top: 6rem;
        margin-bottom: 1.4rem;
        z-index: 3;
        @media (max-width: $r_400) { 
            margin-top: 3.5rem;
            font-size: 2.1rem;
            
        }
    }
    &__right {
        position: relative;
        h4 {
            font-size: 1.6rem;
            margin-top: 2.8rem;
            @media (max-width: $r_400) { 
                margin-top: 0rem;
                font-size: 1.2rem;                
            }            
        }
    }
    &__circle1 {
        position: absolute;
        height: 90px;
        width: 90px;
        top: 18.8rem;
        left: -4.5rem;
        z-index: -1;
        @media (max-width: $r_400) {
            height: 40px;
            width: 40px;                        
            top: 14.8rem;
            left: -2.5rem;
        }     
    }
    &__line {

    }
}
.contact {
    &__circle {
        width: 300px;
        height: 300px;
        position: absolute; 
        top: 9rem;    
        left: -11em;   
    }
    &__triangle {
        position: absolute;        
        left: -17.8rem;
        top: 14.4rem;
        z-index: 8;
    }
    &__box {
        position: relative;
        padding-top: 9rem;
        display: flex;
        flex-direction: row;
        align-content: stretch;
        justify-content: space-between;
        margin-bottom: 5rem;         
    }
    &__title {   
        display: block;     
        font-size: 2.8rem;
        font-weight: 700;
        letter-spacing: 0.01rem;
        line-height: 150%;
        width: 188rem;
        z-index: 1;
        text-transform: uppercase;
        @media (max-width: $r_1000) {                        
            width: 130rem;
        }  
    }
    &__description {
        font-size: 2.8rem;
        line-height: 150%;
        margin-top: 2.5rem;
        margin-bottom: 0.5rem;
    }
    &__line {
        position: relative;
        z-index: 7;                
    }
}
.connection {

    &__box {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    &__social {
        display: flex;        
        align-items: center;               
        list-style-type: none;        
        margin: 0;
        padding-left: 0;
        gap: 3rem;
        font-size: 1.6rem;
        font-weight: 400;
        z-index: 9;
        padding-bottom: 1rem;
        @media (max-width: $r_900) {                        
            font-size: 1.4;
            gap: 2rem;
        } 
    }
    &__link {
        text-decoration: none;
        color: $grey;
        transition: .3s;  
        &:hover {
            color: $red;
            transition: .3s; 
        }      
    }
    &__github  {
        &::before {
            content: "";
            background-color: $grey;
            width: 1px;
            height: 24px;            
            text-align: center;
            color: rgba(243, 242, 240, 0.5);
        }
    }
    &__telegram  {
        &::before {
            content: "";
            background-color: $grey;
            width: 1px;
            height: 24px;            
            text-align: center;
            color: rgba(243, 242, 240, 0.5);
        }
    }
    
}
.form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 56rem;
    margin-top: 5.5rem;
    font-size: 1.2rem;
    color: $grey-opacity;
    @media (max-width: $r_900) {                        
        width: 45rem;
    } 
.label {
        margin-bottom: 3rem;  
        font-size: 12px;
        color: rgba(243, 242, 240, .2);        
    }

}
.input {
    display: block;
    padding: 0 20px;
    font-size: 13px;
    font-weight: 400;    ;
    color: rgba(243, 242, 240, .2);    
    height: 65px;    
    line-height: 30px;
    background: rgba(243, 242, 240, .1);
    margin-bottom: 16px;
    margin-top: 10px;
    border-width: 0;    
}
.select {
    position: relative;
    font-size: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
    

    &__new {
        display: block;
        padding: 0 20px;
        font-size: 13px;
        font-weight: 400;    ;
        color: rgba(243, 242, 240, .2);    
        height: 65px;
        width: 56rem;
        line-height: 30px;
        background: rgba(243, 242, 240, .1);
        margin-bottom: 16px;
        margin-top: 10px;
        border-width: 0; 
        border-radius: 0;
        border-style: none;
        -webkit-appearance: none;/* Chrome */
        -moz-appearance: none;/* Firefox */
        appearance: none;/* убираем дефолнтные стрелочки */
        font-family: inherit;/* наследует от родителя */ 
        @media (max-width: $r_900) {                        
            width: 45rem;
        } 
    }
    &__option {
        list-style: none;
        display: block;
        padding: 0 20px;
        font-size: 13px;
        font-weight: 400;
        color: $grey; 
        background: $bgc;
        border-width: 1px;
        transition: .3s;
        &:hover {
            font-weight: 700;
            transition: .3s; 
        }
    }
}
.select::-ms-expand {
    display: none;
}
.select:not([multiple]) {
    padding-right: 1.2em;
    background-repeat: no-repeat;
    background-position: calc(100% - 2.25em) 3.3em;
    background-size: 1.2em auto;
    background-image: url(../images/select.svg);
}
.select:focus {
    outline: none;
}
.link {
    display: block;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 400;
    color: $wight;
    height: 65px;    
    line-height: 30px;
    background: $red;
    margin-bottom: 20px;
    margin-top: 25px;
    border-width: 0; 
}
.footer {
    &__line {
        margin-top: 10.5rem;
    }
    &__navigation {  
        display: flex;
        justify-content: space-between;  
        background-color: $bgc;
        margin: 0 auto;        
        display: flex; 
        justify-content: space-between;
        padding-top: 6rem;    
        padding-bottom: 2rem;        
    }
    &__nav {
        list-style-type: none;
        display: flex;
        gap: 2.8rem;
        align-items: center;                
        margin: 0;
        padding-left: 0;
        @media (max-width: $r_900) {                        
            gap: 2rem;
        } 
    }   
    &__link {
        text-decoration: none;
        color: $grey;
        transition: .3s;
        &:hover {
            color: $red;
            transition: .3s; 
        }
    }       
    &__phonemail {
        display: flex;        
        align-items: center;
        gap: 2.6rem;
        @media (max-width: $r_900) {                        
            gap: 2rem;
        } 
    }
    &__tel {
        text-decoration: none;
        color: $grey;
        transition: .3s;   
        &:hover {
            color: $red;
            transition: .3s; 
        }     
    }
    &__mail {
        text-decoration: none;
        color: $grey;
        transition: .3s;
        position: relative;
        &:hover {
            color: $red;
            transition: .3s; 
        }
        &::before {
            content: "";
            background-color: $grey;
            width: 1px;
            height: 24px;            
            position: absolute; 
            left: -12px;
            text-align: center;
            color: rgba(243, 242, 240, 0.5);
        }
    }
    &__text {
        display: flex;
        justify-content: space-between;
        text-align: center;
        font-size: 12px;
        color: rgba(243, 242, 240, .3);
    }
    &__author {
        color: rgba(243, 242, 240, .3);
    }
}
.modal {
    max-width: 360px;
    height: 618px;
    background-color: $bgc;
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    margin: 20px auto 0;
    transition: 0.5s;
    padding: 29px 10px;
    box-sizing: border-box;
    flex-direction: column;
    z-index: 100;
    &__burger-close {
        display: block;
        right: 0;
        width: 20px;
        height: 20px;
        background-image: url(../images/close.svg);
        background-size: contain;
        background-repeat: no-repeat; 
        align-content: center;
        background-size: contain;
        background-color: transparent;
        border: none;
        cursor: pointer;        
        position: absolute;
        top: 20px;
        right: 10px;    
    }
    &__nav {
        list-style-type: none;
        padding-left: 0px;
        margin-top: 40px;
        
    }
    &__link {   
        display: flex;
        width: 340px;
        height: 78px;
        font-weight: 400;
        font-size: 26px;        
        color: #F3F2F0;        
        text-decoration: none;
        align-items: center;
        justify-content: center;
        border-bottom: 0.7px solid rgba(243, 242, 240, 0.5);
        border-top: 0.7px solid rgba(243, 242, 240, 0.5);        
    }
    
    &__social {
        display: flex;
        gap: 1rem;
        text-decoration: none;
        color: $grey;
        transition: .3s;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;  
        list-style: none;  
        padding-left: 0;
        margin-top: 1rem;    
        &:hover {
            color: $red;
            transition: .3s; 
        }
    }    
    &__github  {
        &::before {
            content: "";
            background-color: $grey;
            width: 1px;
            height: 15px;            
            text-align: center;
            color: rgba(243, 242, 240, 0.5);
        }
    }
    &__telegram  {
        &::before {
            content: "";
            background-color: $grey;
            width: 1px;
            height: 15px;            
            text-align: center;
            color: rgba(243, 242, 240, 0.5);
        }
    }   
    &__phonemail {
        display: flex;        
        align-items: center;
        gap: 2.6rem;
        justify-content: center;
        margin-top: 4rem; 
    }
    &__tel {
        text-decoration: none;
        color: $grey;
        transition: .3s;   
        &:hover {
            color: $red;
            transition: .3s; 
        }     
    }
    &__mail {
        text-decoration: none;
        color: $grey;
        transition: .3s;
        position: relative;
        &:hover {
            color: $red;
            transition: .3s; 
        }
        &::before {
            content: "";
            background-color: $grey;
            width: 1px;
            height: 24px;            
            position: absolute; 
            left: -12px;
            text-align: center;
            color: rgba(243, 242, 240, 0.5);
        }
    }
}





